<div id="<%= dom_id user %>" class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
    <tbody>
      <tr>
        <td width="20%">First Name</td>
        <td><%= user.first_name %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= user.last_name %></td>
      </tr>
      <tr>
        <td>Login</td>
        <td><%= user.login %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= user.email %></td>
      </tr>
    </tbody>
  </table>
</div>
