<div class="row">
  <div class="col-md-12">
    <h1>Users</h1>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered user">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">
              <%= link_to "New", new_user_path, class: 'btn btn-success btn-sm btn-new' if policy(:user).new? %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.id, user %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.login %></td>
              <td><%= user.email %></td>
              <td>
                  <%= link_to "Edit", edit_user_path(user), class: 'btn btn-warning btn-sm btn-edit' if policy(:user).edit? %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6"><%= paginate @users %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
